# npm
node_modules

# Output
.wrangler
.svelte-kit/
build/
finances.db
jaft.exe

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.vscode/
.markdownlint.jsonc
.prettierrc

# Lockfiles
*lock*

# Docker
make_docker.sh
clean_docker_cache.sh

# Logo
*.kra~
*.png~
